<meta property="og:url" content="https://durss.github.io/TwitchCypherKeyboard/" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Clavier secret Twitch" />
<meta name="description" content="Extension permettant d'échanger des messages secrets dans n'importe quel chat Twitch" />
<meta property="og:image" content="https://durss.github.io/TwitchCypherKeyboard/share.png?v=1" />
<meta property="og:image" content="https://durss.github.io/TwitchCypherKeyboard/share_small.png?v=1" />
<meta property="og:image:type" content="image/png" />
<meta property="og:locale" content="fr_FR" />

<meta name="theme-color" content="#353535">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="msapplication-navbutton-color" content="#353535">
